body {
    background: url('../background-image.jpg') no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
}

h3 {
    color: #f4f4f4;    
}

h2 {
    color: #f4f4f4;
    font-size: 96px;
    margin-top: 110px;
}

.row {
    margin-top: 40px;
}

p {
    color: #E6B89E;
    font-size: 10px;
}

.timeWord {
    color: #E6B89E;
}

.bottom {
    margin-top: 200px;
}